.home__hero {
  background: url(../../assets/images/bg_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.home__about,
.home__services {
  background: url(../../assets/images/bg_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}
.text-underline {
  text-decoration: underline;
}
.toTopArrow {
  background-color: #333333;
}
.toTopArrow:hover {
  background-color: #ff6637;
}
@media (max-width: 575px) {
  .footerText {
    font-size: 0.85em !important;
  }
}
